# Rust
/target
**/*.rs.bk
Cargo.lock.bak

# Bazel
/bazel-*
MODULE.bazel.lock.bak

# Node / pnpm
node_modules
frontend/dist
.pnpm-store

# IDE / OS
.idea
.vscode/*.local.json
.DS_Store

# Local env
.env
.env.local

# Tilt
tilt_modules
.tiltbuild
